[submodule "ArduinoCore-avr"]
	path = ArduinoCore-avr
	url = https://github.com/arduino/ArduinoCore-avr
[submodule "src/arduino-mcp2515"]
	path = src/arduino-mcp2515
	url = https://github.com/autowp/arduino-mcp2515
[submodule "src/can-protocol"]
	path = src/can-protocol
	url = https://github.com/class66-project/can-protocol
[submodule "src/OneWire"]
	path = src/OneWire
	url = https://github.com/PaulStoffregen/OneWire
[submodule "src/DallasTemperature"]
	path = src/DallasTemperature
	url = https://github.com/milesburton/Arduino-Temperature-Control-Library
